%section.settings.no-animate.expanded.cluster-health-graphs#cluster-health
  %h4= s_('ClusterIntegration|Cluster health')

  - if @cluster&.application_prometheus_available?
    #prometheus-graphs{ data: cluster_health_data(@cluster) }

  - else
    %p.settings-message.text-center= s_("ClusterIntegration|In order to view the health of your cluster, you must first install Prometheus below.")
